*, h1, h2, h3, p, div, button {
    font-family: 'Montserrat', arial, sans-serif
}

body {
    background-image: url("../images/launch.png");
    background-size: cover;
}

#wrapper{
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
}

#main-title {
    position: relative;
    width:  50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 25px 15px 15px 15px;
    font-size: 60px;
    font-weight: bold;
    color: transparent;
    background: rgb(185, 185, 21);
    background: linear-gradient(yellow, rgb(252, 252, 77));
    -webkit-background-clip: text;



}

#main-content-box{
    position: relative;
    height: 70vh;
    width: 70%;
    margin: 30px auto 20px auto;
    border: 1px solid rgb(87, 86, 86);
}

.questions{
    display: none;
}

#answer-list {
    border: 1px solid black;
}

.answer { /*this class is for the answers created in jquery*/
    width: 25%;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
}

.end-game {
    display: none;
}

#answer-image {
    position: relative;
    display: none;
    max-width: 40%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    margin-top: 20px;
    border-top: 3px solid green;
    font-size: 16px;
}